.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: var(--color-primary-variant);
    height: 135px;
    font-size: 1.563rem;
}

.header_title{
    margin: 0 auto;
    color: #fff;
}
