.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--color-primary-variant);
    color: #fff;
  }